<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zulucoda - Alfa Romeo Cars</title>

    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1>Alfa Romeo Product Display</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Description:</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" th:value="${product.description}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Price:</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" th:value="${product.price}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>image url:</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" th:value="${product.imageUrl}">
            </div>
        </div>
    </div>

</body>
</html>