<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zulucoda - Alfa Romeo Cars</title>

    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1>Alfa Romeo Product Display</h1></div>
        </div>

        <form class="form" th:object="${product}" th:action="@{/product}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div class="row">
                <div class="col-sm-3">
                    <label>Description:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" th:field="*{description}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Price:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" th:field="*{price}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>image url:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" th:field="*{imageUrl}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <input type="submit" value="Save" />
                </div>
            </div>

        </form>
    </div>

</body>
</html>